
:root {
  --main-bg-color : #030303;
  --content-bg-color : #444444;
  --text-color: #ffffff;
} 

html {
  scroll-behavior: smooth;
}

* {
  color: var(--text-color);
  font-family: monospace;
}

body {
  overflow-x: hidden;
}

a {
  z-index: 5;
}


#root {
  background-color: var(--main-bg-color);
  width: 100%;
}

.graph {
 
  background: var(--main-bg-color);
  background-image: radial-gradient(var(--content-bg-color) 2.5px, transparent 0);
  background-size: 3vw 3vw;
}

/* .graph:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 24px 40px 0px var(--main-bg-color), 
  inset -10px -24px 40px 0px var(--main-bg-color), 
  inset 20px -10px 40px 0px var(--main-bg-color), 
  inset -20px 10px 40px 0px var(--main-bg-color);
  border-radius: 50%;
  position: absolute;
  top: 0; left: 0;
} */



nav {
  height: 10vh;
  width: 100%;
  background-color: red;
  position: absolute;
  z-index: 1;
  background-color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 1.2rem;
  font-family: monospace;

  border-bottom: 1px solid var(--content-bg-color);
}

nav > a {
  margin: 9%;
}

nav > a:link {
  color: white
}

nav > a:visited {
  color: white
}

nav > a:active {
  color: white
}

nav > a:hover {
  color: white
}



#head {
  z-index: 0;
  background-color: none;
  width: 100%;
  height: 100%;
}

.dot-radius {
  background-color: none;
  width: 100px;
  height: 100px;
  /* margin: 100px; */
  border-radius: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  /* border: 1px solid white; */
}

.dot {
  background-color: var(--content-bg-color);
  width: 5px;
  height: 5px;
  border-radius: 1000px;
  transition: .5s ease-out;
  z-index: -1;
  position: relative;
}

#head-img {
  width: 100%;
  transform: translate(0, -50%);
}

#head-gradient {
  background-image: linear-gradient(180deg,rgba(3,3,3,0) 0%,rgba(3,3,3,0.5) 80%,rgba(3,3,3,0.9) 90%, rgba(3,3,3,1) 100%);
  width: 100%;
  height:100%;
}

#head-name {
  position: absolute;
  font-size: 7rem;
  top: 55vh;
  left: 15vw; 
  animation: 3s nameSlideIn ease;
  font-family: monospace;

  cursor: default;
}

.text-box-container {
  width: 100%;
  /* min-height: 50vh; */
}

.text-box {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  /* position: absolute; */

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
}


#name-underline {
  width: 100%;
  height: 9px;
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 13.99%, transparent 14%, transparent 21%, #ffffff 21.01%, #ffffff 100%);
  position: absolute;
  bottom: 3.35vh;
  animation: underline-fill 5s;
}

#profile-container {
  min-width: 300px;
  width: 22vw;
  min-height: 300px;
  height: 22vw;
  background-color: var(--main-bg-color);
  border-radius: 1000px;
  position: absolute;
  left: 62.5vw;
  top: 22vh;
  padding: 7px;
  background-image: linear-gradient(180deg, black 75%, #ffffff 100%);
  animation: floatIn 5s;
}

#profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  overflow: hidden;
  /* display: none; */
}

#content {
  background-color: var(--main-bg-color);
  margin-top: 105vh;
  width: 100%;
  z-index: 1;
}

#name-header {
  font-size: 5rem;
  margin-left: 5vw;
  margin-top: 10vh;
  text-decoration: underline;
}

.slide-in {
  animation: 2s slideIn ease;
}

.typing-cursor {
  animation: blink 1.2s infinite;
}

.float-in {
  animation: floatIn 1s ease-out forwards;
}

.project-container {
  margin: 0% 0; 
  padding: 100px 0;
  border-radius: 50%;
}


.project {
  box-sizing: border-box;
  width: 80%;
  display: flex;

  font-size: 1.2rem;


  background-color: var(--main-bg-color);
  /*border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.35); */

  border: 1px solid #a0a0a0;

  box-shadow: 4px 4px white;

  transition: ease-out 0.5s;

  z-index: 1;
}



.project > img {
  width: 45%;
  margin: 30px;
  grid-row: 1 / span 2;
  object-fit: contain;
}

.hover-shadow:hover {
  /* box-shadow: 0 .5rem 1rem rgba(255,255,255,.35); */
  box-shadow: 10px 10px white;

}

@keyframes blink {
  0%, 50% {display: none;}
  51%, 100% {display: inline;}
}

@keyframes underline-fill {
  
  0%, 50% {width: 0%}
  100% {width: 100%}
}

@keyframes floatIn {
  0% {transform: translate(0, 10vh); opacity: 0;}

  100% {transform: translate(0, 0); opacity: 1;}
}

@keyframes slideIn {
  0% {margin-left: -30vw;}

  100% {margin-left: 5vw;}
}

@keyframes nameSlideIn {
  0% {left: -50rem;}

  100% {left: 15vw;}
}

@keyframes moveLiquid {
  0%, 100% {
    clip-path: path(
      'M100,0 C130,20 170,40 190,70 C200,100 190,130 170,150 C150,170 120,190 100,200 C80,190 50,170 30,150 C10,130 0,100 10,70 C30,40 70,20 100,0'
    );
  }
  25% {
    clip-path: path(
      'M100,0 C120,30 160,50 180,80 C200,110 180,140 160,160 C140,180 110,190 90,200 C70,190 40,160 20,140 C10,110 20,90 40,70 C70,50 80,20 100,0'
    );
  }
  50% {
    clip-path: path(
      'M100,0 C140,20 1900 80 % lower.'
    );
  }
}