
:root {
  --main-bg-color : #1c1c1c;
  --content-bg-color : #242424;
  --text-color: #ffffff;
} 

* {
  color: var(--text-color);
}

body {
  overflow-x: hidden;
}

#root {
  background-color: var(--main-bg-color);
  width: 100vw;
}

#head {
  z-index: 0;
}

#head-img {
  width: 100vw;
  transform: translate(0, -50%);
}

#profile-container {
  width: 1000px;
  height: 1000px;
  background-color: red;

  position: absolute;
}

#content {
  background-color: var(--content-bg-color);
  margin-top: 50vh;
  width: 70vw;
  z-index: 1;
}

#name-header {
  font-size: 5rem;
}

.typing-cursor {
  animation: blink 1.2s infinite;
}

.float-in {
  animation: floatIn 0.5s ease-out forwards;
}

.project-container {
  margin: 75px 0px; 
}

.project {
  box-sizing: border-box;
  width: 85%;
  background-color: #272727;

  display: flex;

  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 2rem;
  
}

.project > img {
  width: 50%;
  margin: 30px;
  grid-row: 1 / span 2;
}

@keyframes blink {
  0%, 50% {display: none;}
  51%, 100% {display: inline;}
}

@keyframes floatIn {
  0% {transform: translate(0, 10vh); opacity: 0;}

  100% {transform: translate(0, 0); opacity: 1;}
}
